.exp-icon {
    height: 64px;
    padding-top: 1.25rem;
}

.exp-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 576px) {
    .exp-wrap {
        display: inline;
    }
}