.project-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    height: 100%;
}

.project-image {
    margin-top: 1.25rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92px;
}

.project-body {
    color: white;
    width: 180px;
    margin: auto;
    font-size: .75rem;
    text-align: left;
}

.btn__position {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.btn__position:focus {
    outline: none;
    box-shadow: none!important;
}

.portfolio-subTitle {
    color: white;
    margin-top: 1rem;
}

@media (min-width: 576px) {
    .project-wrapper {
        display: flex;
    }
}