.portfolio {
    padding-top: 2.5rem;
    padding-bottom: 4.875rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon {
    border-radius: 50%;
    height: 136px;
    width: 136px;
}

.header-description-name {
    font-size: 24px;
    font-weight: bold;
}

.header-description-title {
    font-size: 20px;
    font-weight: 600;
}
