.sidebar-wrapper {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0;
    width: 250px;
    height: 100%;
    background: #007D85;
}

.sidebar-nav {
    position: absolute;
    top: 54px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-item {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.menu-toggle {
    position: fixed;
    z-index: 999;
    left: 015px;
}

.nav-button {
    color: white;
    text-decoration: none !important;
}

.nav-button:hover {
    text-decoration: none;
    color: white;
}
